.page-container {
    /* background: linear-gradient(to right, #ece9e6, #ffffff); */
    padding: 20px;
    min-height: 100vh;
    position: relative;
    z-index: 1; /* Ensure the content is above the image */
  }
  
  .subscription-list-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .subscription-list {
    width: 100%;
    max-width: 800px;
  }
  
  .subscription-item {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(248, 249, 250, 0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 20px;
  }
  
  .subscription-title {
    margin: 0;
    margin-bottom: 10px;
    color: #1b4332;
  }
  
  .subscription-content {
    margin: 0;
    margin-bottom: 10px;
    color: #333;
  }
  
  .detail-button-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .detail-button {
    background-color: #2d6a4f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .detail-button:hover {
    background-color: #081c15;
  }
  
  .filter-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .filter-container input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    font-size: 1rem;
  }
  
  .filter-container button {
    background-color: #2d6a4f;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .filter-container button:hover {
    background-color: #081c15;
  }
  
  @media (max-width: 768px) {
    .filter-container {
      flex-direction: column;
      align-items: flex-start;
      align-self: baseline;
    }
  
    .filter-container input[type="text"] {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
  .delete-button {
    background-color: #b91c1c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #7f1d1d;
  }
  