/* App.css */
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: Arial, sans-serif;
}

.App {
  min-height: 100vh;
  background-image: url('travel.jpg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}



.content {
  z-index: 1; /* Ensure the content appears above the overlay */
}

.RegistrationForm {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  max-width: 400px; 
  width: 100%; 
  margin: auto; /* Центрує форму по горизонталі */
  display: flex;
  flex-direction: column; /* Встановлює напрямок відображення елементів у колонку */
  align-items: center; /* Центрує елементи по горизонталі у колонці */
}

.RegistrationForm input[type="text"],
.RegistrationForm input[type="email"],
.RegistrationForm input[type="password"],
.RegistrationForm input[type="date"] {
  width: 100%; /* Розтягує поля вводу на всю ширину форми */
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.RegistrationForm button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.RegistrationForm button:hover {
  background-color: #45a049;
}

.RegistrationForm h2 {
  margin-bottom: 20px;
}

.RememberMeCheckbox {
  position: absolute; 
  left: 20px; 
  bottom: 20px;  
}
